<template>
    <svg
        id="svg4"
        width="367.02"
        height="463.86"
        clip-rule="evenodd"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="2"
        version="1.1"
        viewBox="0 0 367.02 463.86"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="g4" transform="translate(-348.99 -293.57)">
            <g id="g3" transform="rotate(-20 532.5 525.5)" fill="none" stroke="#000" stroke-width="9">
                <path
                    id="path3"
                    d="m666 377.75c0-36.84-29.91-66.75-66.75-66.75h-133.5c-36.84 0-66.75 29.91-66.75 66.75v295.5c0 8.4882 1.5879 16.609 4.4825 24.08 9.6684 24.955 33.916 42.67 62.268 42.67h133.5c36.84 0 66.75-29.91 66.75-66.75zm-267.14 124.59-42.343 116.34c-12.6 34.618 5.2764 72.954 39.895 85.554l12.542 4.565m85.932 31.277 26.975 9.8181c22.301 8.1169 46.145 3.5864 63.658-9.9199m80.52-191.04 42.443-116.61c12.6-34.618-5.2764-72.954-39.895-85.554l-13.047-4.7488m-85.371-31.073-27.03-9.8383c-22.243-8.0956-46.02-3.61-63.52 9.814m-80.432 165.77-63.925 76.183c-23.68 28.221-19.994 70.359 8.2274 94.04l10.782 9.0475m100.49 83.14c16.568 9.7878 36.227 11.697 53.898 6.1727m157.31-171.14 63.774-76.003c23.68-28.221 19.994-70.359-8.2274-94.04l-10.244-8.5954m-101.35-83.783c-16.667-9.7194-36.413-11.508-54.105-5.8137"
                    fill="none"
                    stroke="#000"
                    stroke-width="9" />
            </g>
        </g>
    </svg>
</template>

<script>
export default {};
</script>

<style scoped></style>
