<template>
    <svg
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:cc="http://creativecommons.org/ns#"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:svg="http://www.w3.org/2000/svg"
        xmlns="http://www.w3.org/2000/svg"
        id="svg1237"
        version="1.1"
        viewBox="0 0 10.476216 17.156945"
        height="17.156944mm"
        width="10.476215mm">
        <title id="unique-id">{{ title }}</title>
        <defs id="defs1231" />
        <g transform="translate(-64.0984,-86.840335)" id="layer1">
            <text
                id="text1835"
                y="103.79728"
                x="62.743973"
                style="font-weight: bold; font-size: 23px; font-family: sans-serif; stroke-width: 0.26458332">
                <tspan style="stroke-width: 0.26458332" id="tspan1833" y="103.79728" x="62.743973">?</tspan>
            </text>
        </g>
    </svg>
</template>

<script>
export default {
    props: {
        title: String,
    },
};
</script>

<style scoped></style>
